<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="<%= home_documents_path %>" style="text-docoration: none;">HOME</a></li>
        <li>Sub4 Fields</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div class="page-header">
    <%= link_to new_sub4_field_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Sub4 field
    <% end %>
    <h1>Listing sub4_fields</h1>
    <%= render "layouts/logo_header" %>
  </div>

  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>sub4_fields </h2>

    </header>

    <!-- widget div-->
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body no-padding">

        <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

          <thead>
          <tr>

            <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Sub3 field"/>
            </th>

            <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Sub4 name field"/>
            </th>

          </tr>
          <tr>


            <th data-class="expand">Sub3 field</th>

            <th>Sub4 name field</th>

            <th data-hide="phone,tablet"></th>
            <th data-hide="phone,tablet"></th>
            <th data-hide="phone,tablet"></th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @sub4_fields) do |sub4_field| %>

            <td><%= sub4_field.sub3_field_id %></td>

            <td><%= sub4_field.sub4_name_field %></td>

            <td><%= link_to 'Show', sub4_field %></td>

            <% if current_user.role_id == 19 %>
              <% if sub4_field.akses.present? %>
                <% @getId = Member.find_by_username(current_user.username) %>
                <% @checking = Sub4Field.where('akses IN (?)', @getId.member_id).select('*') %>
                <% unless @checking.nil? %>
                  <td><%= link_to 'Edit', edit_sub4_field_path(sub3_field) %></td>
                  <td><%= link_to 'Delete', sub4_field, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
              <% else %>
                  <td></td>
                  <td></td>
              <% end %>
            <% else %>
              <td><%= link_to 'Edit', edit_sub4_field_path(sub4_field) %></td>
              <td><%= link_to 'Destroy', sub4_field, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>
            
          <% end %>
          </tbody>

        </table>

      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>
  <% content_for :scripts do %>
  <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () {

          pageSetUp();

          /* // DOM Position key index //

           l - Length changing (dropdown)
           f - Filtering input (search)
           t - The Table! (datatable)
           i - Information (records)
           p - Pagination (paging)
           r - pRocessing
           < and > - div elements
           <"#id" and > - div with an id
           <"class" and > - div with a class
           <"#id.class" and > - div with an id and class

           Also see: http://legacy.datatables.net/usage/features
           */

          /* BASIC ;*/
          var responsiveHelper_dt_basic = undefined;
          var responsiveHelper_datatable_fixed_column = undefined;
          var responsiveHelper_datatable_col_reorder = undefined;
          var responsiveHelper_datatable_tabletools = undefined;

          var breakpointDefinition = {
              tablet: 1024,
              phone: 480
          };

          $('#dt_basic').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_dt_basic) {
                      responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_dt_basic.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_dt_basic.respond();
              }
          });

          /* END BASIC */

          /* COLUMN FILTER  */
          var otable = $('#datatable_fixed_column').DataTable({
              //"bFilter": false,
              //"bInfo": false,
              //"bLengthChange": false
              //"bAutoWidth": false,
              //"bPaginate": false,
              //"bStateSave": true // saves sort state using localStorage
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_fixed_column) {
                      responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_fixed_column.respond();
              }

          });

          // Apply the filter
          $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

              otable
                  .column($(this).parent().index() + ':visible')
                  .search(this.value)
                  .draw();

          });
          /* END COLUMN FILTER */

          /* COLUMN SHOW - HIDE */
          $('#datatable_col_reorder').dataTable({
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
              "autoWidth": true,
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_col_reorder) {
                      responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_col_reorder.respond();
              }
          });

          /* END COLUMN SHOW - HIDE */

          /* TABLETOOLS */
          $('#datatable_tabletools').dataTable({

              // Tabletools options:
              //   https://datatables.net/extensions/tabletools/button_options
              "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                  "t" +
                  "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
              "oLanguage": {
                  "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
              },
              "oTableTools": {
                  "aButtons": [
                      "copy",
                      "csv",
                      "xls",
                      {
                          "sExtends": "pdf",
                          "sTitle": "SmartAdmin_PDF",
                          "sPdfMessage": "SmartAdmin PDF Export",
                          "sPdfSize": "letter"
                      },
                      {
                          "sExtends": "print",
                          "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                      }
                  ],
                  "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
              },
              "autoWidth": true,
              "preDrawCallback": function () {
                  // Initialize the responsive datatables helper once.
                  if (!responsiveHelper_datatable_tabletools) {
                      responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                  }
              },
              "rowCallback": function (nRow) {
                  responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
              },
              "drawCallback": function (oSettings) {
                  responsiveHelper_datatable_tabletools.respond();
              }
          });

          /* END TABLETOOLS */

      })

  </script>
    <% end %>
</div>
