<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>document_type </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body">

        <%= form_for(@document_type, html: { id: "review-form", class: "form-horizontal", role: "form" }) do |f| %>
          <% if @document_type.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4><%= pluralize(@document_type.errors.count, "error") %> prohibited this member from being saved:</h4>

              <ul>
                <% @document_type.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <style>
          @media (min-width: 1024px) {
            fieldset {
              margin-left: -10%;
            }
          }
          </style>

        
         <fieldset>
            <div class="form-group">
              <label class="col-md-2 control-label">Nama Tipe</label>
              <div class="col-md-10">
                <%= f.text_field :type_name, class: "form-control", id: "type_name", placeholder: "type_name" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Deskripsi</label>
              <div class="col-md-10">
                <%= f.text_area :description, class: "form-control", id: "description", placeholder: "description" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">User Akses</label>
              <div class="col-md-10">
                <% if current_user.role_id == 21 %>
                  <%= f.text_field :akses, value: current_user.username, class: "form-control", readonly: true %>
                <% else %>
                    <select class="form-control select2"  data-min-options="2" name="document_type[akses][]" multiple data-live-search="true">
                      <% unless @document_type.new_record? %>
                        <% @user = DocumentType.find(params[:id]) %>
                        <% if @user.akses.present? %>
                          <%
                            @user = DocumentType.find(params[:id])
                            @user = @user.akses.gsub("'\'", "")
                            @user = @user.gsub('"',"")
                            @user = @user.gsub("[","")
                            @user = @user.gsub("]","")
                            @user = @user.split(",")
                            @user.map do |user|
                            @getUser = Member.find(user)
                            @selected = "selected=selected"
                          %>
                              <option value="<%= @getUser.id %>" <%= @selected %>><%= @getUser.username %></option>
                          <% end %>
                        <% end %>

                        <% @getVendor = Member.where.not('member_id IN (?)', @user).select('DISTINCT ON (nama)*') %>
                        <% @getVendor.each do |f| %>
                          <option value="<%= f.id %>"><%= f.nama %></option>
                        <% end %>

                      <% else %>
                        <% @user = Member.order(:username) %>
                        <% @user.each do |user| %>
                          <option value="<%= user.member_id %>" <%= @selected %>><%= user.username %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </label>
                  <div class="form-actions">
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">
                          <i class="fa fa-save"></i>
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </fieldset>
        <% end %>
    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>

<script type="text/javascript">
  $(document).ready(function() {

    pageSetUp();
    var errorClass = 'invalid';
    var errorElement = 'em';
    var $reviewForm = $("#review-form").validate({
      errorClass		: errorClass,
      errorElement	: errorElement,
      highlight: function(element) {
        $(element).parent().removeClass('state-success').addClass("state-error");
        $(element).removeClass('valid');
      },
      unhighlight: function(element) {
        $(element).parent().removeClass("state-error").addClass('state-success');
        $(element).addClass('valid');
      },
      // Rules for form validation
      rules : {
                'document_type[type_name]' : {
          required : true
        },
                'document_type[description]' : {
          required : true
        },
              },

      // Messages for form validation
      messages : {
                'document_type[type_name]' : {
          required : 'Please enter your textbox type_name '
        },
                'document_type[description]' : {
          required : 'Please enter your textbox description '
        },
              },

      // Do not change code below
      errorPlacement : function(error, element) {
        error.insertAfter(element.parent());
      }
    });
  });
</script>

