<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
<!--    <h2>wr_doc_request </h2>-->

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

      <%= form_for(@wr_doc_request, html: {id: "review-form", class: "smart-form", role: "form"}) do |f| %>
<!--        <header>-->
<!--          wr_doc_request-->
<!--        </header>-->

        <fieldset>
          <style media="screen">
            select.select2 {
              display: block;
              visibility: visible;
              position: absolute;
              margin-top: 4px;
              margin-left: 4px;
              width: 190px;
              height: 20px;
            }
          </style>
          <% @wr_doc = WrDoc.find(@wr_doc_id) %>
          <%= f.text_field :wr_doc_id, value: "#{@wr_doc.wr_doc_id}", class: "form-control", readonly: true, type: "hidden" %>
          <div class="row">
            <section class="col col-4">
              <label class="control-label">Nama Request</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <%= f.text_field :requester, value: "#{current_user.nama}", class: "form-control", id: "requester", readonly: true %>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Jabatan</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <%= f.text_field :position, class: "form-control", id: "jabatan" %>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Divisi</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <%= f.collection_select :division, Division.order(:nama_divisi => :desc), :nama_divisi, :nama_divisi, {prompt: "Select a Division"}, {:class => 'select2'} %>               
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-6">
              <label class="control-label">No Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                <% @wr_doc = WrDoc.find(@wr_doc_id) %>
                <input type="text" value="<%= @wr_doc.document_code %>" class="from-control" disabled>
                <%#= f.grouped_collection_select :wr_doc_id, WrDocType.order(:document_name), :wr_doc, :document_name, :wr_doc_id, :document_code, include_blank: true %>
            </section>
            <section class="col col-6">
              <label class="control-label">Judul Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                <% @wr_doc = WrDoc.find(@wr_doc_id) %>
                <input type="text" value="<%= @wr_doc.document_title %>" class="from-control" disabled>
                <%#= f.grouped_collection_select :wr_doc_id, WrDocType.order(:document_name), :wr_doc, :document_name, :wr_doc_id, :document_code, include_blank: true %>
            </section>
          </div>
          <!--
                    <section>
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <%= f.collection_select :wr_doc_id, WrDoc.where(wr_doc_id: params[:wr_doc_id]).select('*'), :wr_doc_id, :document_code, {}, {:class => 'form-control select2'} %>
            </label>
          </section>-->
          <section>
            <label class="control-label">Keterangan Detail Request</label>
            <label class="textarea"> <i class="icon-append fa fa-tag"></i>
              <%= f.text_area :reason_request, rows: 6, class: "form-control", id: "reason_request", placeholder: "reason_request" %>
            </label>
          </section>
        </fieldset>
        <footer>
          <%= f.submit class: "btn btn-primary" %>
        </footer>
      <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
<% content_for :scripts do %>

  <script type="text/javascript">

      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#jabatan").val(hasil);
        }
        regex = /(<|>|;|'|"|--)/;
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('jabatan');
      input.addEventListener('input', onChange, false);

      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#reason_request").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('reason_request');
      input.addEventListener('input', onChange, false);

      $(document).ready(function () {
          <% if params[:id].nil?%>
          $('#wr_doc_request_wr_doc_id').empty()

          <% end %>
          pageSetUp();
          var errorClass = 'invalid';
          var errorElement = 'em';
          var $reviewForm = $("#review-form").validate({
              errorClass: errorClass,
              errorElement: errorElement,
              highlight: function (element) {
                  $(element).parent().removeClass('state-success').addClass("state-error");
                  $(element).removeClass('valid');
              },
              unhighlight: function (element) {
                  $(element).parent().removeClass("state-error").addClass('state-success');
                  $(element).addClass('valid');
              },
              // Rules for form validation
              rules: {
                  'wr_doc_request[wr_doc_id]': {
                      required: true
                  },
                  'wr_doc_request[reason_request]': {
                      required: true
                  },
                  'wr_doc_request[division]': {
                      required: true
                  },
                  'wr_doc_request[position]': {
                      required: true
                  },
              },

              // Messages for form validation
              messages: {
                  'wr_doc_request[wr_doc_id]': {
                      required: 'Please enter your textbox wr_doc_id '
                  },
                  'wr_doc_request[reason_request]': {
                      required: 'Please enter your textbox reason_request '
                  },
                  'wr_doc_request[division]': {
                      required: 'Please enter your textbox division '
                  },
                  'wr_doc_request[position]': {
                      required: 'Please enter your textbox position '
                  },
              },

              // Do not change code below
              errorPlacement: function (error, element) {
                  error.insertAfter(element.parent());
              }
          });
      });
  </script>
<% end %>
