<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Form document </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

      <%= form_for(@document, html: {id: "review-form", class: "smart-form", role: "form"}) do |f| %>
        <!-- <header>
          document
        </header> -->

        <fieldset>
          <% if @document.document_id != nil %>
            <%= f.text_field :file_upload, class: "form-control", readonly: "true", name: "nmfile", type: "hidden" %>
          <% end %>
          <div class="row">
            <section class="col col-6">
              <label class="control-label">Judul Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :document_title, class: "form-control", id: "document_title" %>
                <b class="tooltip tooltip-top-right">
                  <i class="fa fa-warning txt-color-teal"></i>
                  Please entry...</b>
              </label>
            </section>

            <section class="col col-6">
              <label class="control-label">Nomor Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :document_code, class: "form-control", id: "document_code", onkeypress: "return RestrictSpace()" %>
                <b class="tooltip tooltip-top-right">
                  <i class="fa fa-warning txt-color-teal"></i>
                  Please entry...</b>
              </label>
            </section>
          </div>

          <div class="row">
            <style media="screen">
              select.select2 {
                display: block;
                visibility: visible;
                position: absolute;
                margin-top: 4px;
                margin-left: 4px;
                width: 190px;
                height: 20px;
              }
            </style>
            <script type="text/javascript">
                $(".select2").select2();
            </script>
            <section class="col col-4">
              <label class="control-label">Jenis Dokumen</label>
              <label class="input">
                <%# <%= f.number_field :field_id, class: "form-control", id: "field_id", placeholder: "field_id" %>
                <% if current_user.role_id == 21 %>
                  <% @getId = Member.find_by_username(current_user.username) %>
                  <%= f.collection_select :document_type_id, DocumentType.where('akses LIKE ?', "%#{@getId.id}%").order(:type_name), :document_type_id, :type_name, {prompt: "Select a Field"}, {:class => 'select2'} %>
                <% else %>
                  <%= f.collection_select :document_type_id, DocumentType.order(:type_name), :document_type_id, :type_name, {prompt: "Select a Field"}, {:class => 'select2'} %>
                <% end %>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Sub Jenis Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="select">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                  <%= f.grouped_collection_select :sub_document_type_id, DocumentType.order(:type_name), :sub_document_type, :type_name, :sub_document_type_id, :sub_type_name, include_blank: true %>
                  <i></i>
                </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Sub2 Jenis Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="select">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                  <%= f.grouped_collection_select :sub2_document_type_id, SubDocumentType.order(:sub_type_name), :sub2_document_type, :sub_type_name, :sub2_document_type_id, :sub2_type_name, include_blank: true %>
                  <i></i>
                </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-4">
              <label class="control-label">Klasifikasi Dokumen</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="select">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                  <%= f.grouped_collection_select :document_classification_id, SubDocumentType.order(:sub_type_name), :document_classification, :sub_type_name, :document_classification_id, :classification_name, include_blank: true %>
                  <i></i>
                </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Tipe Dokumen </label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="input">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>

                  <%= f.collection_select :document_reference_id, DocumentReference.all, :document_reference_id, :reference_name, {prompt: "Select a Document Type"}, {:class => 'select2'} %>
                  <i></i>
                </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Sifat Dokumen *</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="input">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>

                  <%= f.select :sifat, ['Rahasia', 'Tidak Rahasia', 'Tidak Berlaku'], {prompt: "Select a character"}, {:class => 'select2'} %>
                  <i></i>
                </label>
            </section>
          </div>

          <div class="row">
            <!--            <style media="screen">-->
            <!--              select.select2 {-->
            <!--                display: block;-->
            <!--                visibility: visible;-->
            <!--                position: absolute;-->
            <!--                margin-top: 4px;-->
            <!--                margin-left: 4px;-->
            <!--                width: 190px;-->
            <!--                height: 20px;-->
            <!--              }-->
            <!--            </style>-->
            <script type="text/javascript">
                $(".select2").select2();
            </script>
            <!-- <section class="col col-4"> -->
            <!-- <label class="control-label">Work Reference</label> -->
            <%# <%= f.collection_select :wr_doc_id, WrDoc.all, :wr_doc_id, :description, {prompt: "Select a Work Reference"}, {:class => 'select2'} %>
            <!-- </section> -->
            <section class="col col-4">
              <label class="control-label">Issued by</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :issued_by, class: "form-control", id: "issued_by", placeholder: "issued_by", value: current_user.nama, readonly: true %>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Tanggal Berlaku</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <% if params[:id].present?
                     document = Document.find(params[:id])
                %>
                  <input type="text" id="dateformat" value="<%= document.document_date %>" name="document[document_date]" class="datepicker" data-dateformat='yy-mm-dd'>
                <% else %>
                  <input type="text" id="dateformat" name="document[document_date]" class="datepicker" data-dateformat='yy-mm-dd'>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-warning txt-color-teal"></i>
                    Please entry...</b>
                <% end %>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Revisi</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :revision, class: "form-control", id: "revision" %>
                <b class="tooltip tooltip-top-right">
                  <i class="fa fa-warning txt-color-teal"></i>
                  Please entry...</b>
              </label>
            </section>
          </div>

          <div class="row">
            <section class="col col-4">
              <label class="control-label">Penanggung Jawab</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :penanggung_jawab, class: "form-control", id: "penanggung_jawab" %>
                <b class="tooltip tooltip-top-right">
                  <i class="fa fa-warning txt-color-teal"></i>
                  Please entry...</b>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Lokasi Simpan</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :save_location, class: "form-control", id: "save_location" %>
                <b class="tooltip tooltip-top-right">
                  <i class="fa fa-warning txt-color-teal"></i>
                  Please entry...</b>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Tanggal Simpan</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <% if params[:id].present?
                     document = Document.find(params[:id])
                %>
                  <input type="text" id="format" value="<%= document.save_date %>" name="document[save_date]" class="datepicker" data-dateformat='yy-mm-dd'>
                <% else %>
                  <input type="text" id="format" name="document[save_date]" class="datepicker" data-dateformat='yy-mm-dd'>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-warning txt-color-teal"></i>
                    Please entry...</b>
                <% end %>
              </label>
            </section>
          </div>

          <section>
            <label class="control-label">Keterangan</label>
            <label class="textarea"> <i class="icon-append fa fa-tag"></i>
              <%= f.text_area :keterangan, rows: 4, class: "form-control", id: "keterangan" %>
              <b class="tooltip tooltip-top-right">
                <i class="fa fa-warning txt-color-teal"></i>
                Please entry...</b>
            </label>
          </section>

          <div class="row">
            <section class="col col-6" id="attach_pdf">
              <label class="control-label">Attachment PDF</label>
              <div class="input input-file"><i class="icon-append fa fa-file"></i>
                <%= f.file_field :file_upload, class: "form-control", accept: 'file/*', onchange: "validateFiles(this);",
                                 data: {max_file_size: 100.megabytes}, id: 'file_pdf' %>
              </div>
              <script type="text/javascript">
                  

              </script>
            </section>

            <section class="col col-6" style="display: none;" id="attach_video">
              <label class="control-label">Attachment Video</label>
              <div class="input input-file"><i class="icon-append fa fa-file"></i>
                <%= f.file_field :file_upload, class: "form-control", accept: 'file/*', onchange: "validateFilesVideo(this);",
                                 data: {max_file_size: 150.megabytes}, :id => 'file_video' %>
              </div>
            </section>
          </div>
        </fieldset>
        <footer>
          <%= f.submit class: "btn btn-primary" %>
        </footer>
      <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
<% content_for :scripts do %>

  <script type="text/javascript">
      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#document_title").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('document_title');
      input.addEventListener('input', onChange, false);

      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#document_code").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('document_code');
      input.addEventListener('input', onChange, false);

      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)[?]/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#penanggung_jawab").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('penanggung_jawab');
      input.addEventListener('input', onChange, false);

      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#save_location").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('save_location');
      input.addEventListener('input', onChange, false);
      
      //https://stackoverflow.com/questions/222740/how-to-get-the-new-value-of-an-html-input-after-a-keypress-has-modified-it
      var onChange = function(evt) {
        if (this.value.match(/(<|>|;|'|"|--)/)){
          regex = /(<|>|;|'|"|--)/;
          var hasil = this.value.replace(regex, '');
          $("#keterangan").val(hasil);
        }
        // console.info(this.value);
        // or
        // console.info(evt.target.value);
      };
      var input = document.getElementById('keterangan');
      input.addEventListener('input', onChange, false);
      
      function validateFiles(inputFile) {
        var maxExceededMessage = "This file exceeds the maximum allowed file size (150 MB)";
        var extErrorMessage = "Only doc file with extension: .pdf is allowed";
        var allowedExtension = ["pdf"];

        var extName;
        var maxFileSize = $(inputFile).data('max-file-size');
        var sizeExceeded = false;
        var extError = false;

        $.each(inputFile.files, function () {
            if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {
                sizeExceeded = true;
            }
            ;
            extName = this.name.split('.').pop();
            if ($.inArray(extName, allowedExtension) == -1) {
                extError = true;
            }
            ;
        });
        if (sizeExceeded) {
            window.alert(maxExceededMessage);
            $(inputFile).val('');
        }
        ;

        if (extError) {
            window.alert(extErrorMessage);
            $(inputFile).val('');
        }
        ;
      }

      function validateFilesVideo(inputFile) {
          var maxExceededMessage = "This file exceeds the maximum allowed file size (150 MB)";
          var extErrorMessage = "Only doc file with extension: .mp4 is allowed";
          var allowedExtension = ["mp4"];
          
          var extName;
          var maxFileSize = $(inputFile).data('max-file-size');
          var sizeExceeded = false;
          var extError = false;

          $.each(inputFile.files, function () {
            if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {
                sizeExceeded = true;
            };
            extName = this.name.split('.').pop();
            if ($.inArray(extName, allowedExtension) == -1) {
                extError = true;
            };
          });
          if (sizeExceeded) {
              window.alert(maxExceededMessage);
              $(inputFile).val('');
          };
          if (extError) {
              window.alert(extErrorMessage);
              $(inputFile).val('');
          };
      }


      function RestrictSpace() {
          if (event.keyCode == 32) {
              alert('Disallowed');
              return false;
          }
      }

      $(document).ready(function () {
          // Format Date

          $("#dateformat").datepicker({
              dateFormat: 'yy-mm-dd',
              defaultDate: "0d",
              changeMonth: true,
              changeYear: true,
              prevText: "",
              nextText: "",
          });

          $("#format").datepicker({
              dateFormat: 'yy-mm-dd',
              defaultDate: "0d",
              maxDate: "0",
              changeMonth: true,
              changeYear: true,
              prevText: "",
              nextText: "",
          });

          $(document).ready(function () {
              $('#coba').change(function () {
                  var x = $(this).val();
                  console.log(x)
                  if (x == 'Request') {
                      document.getElementById('reason').style.display = 'block';
                      document.getElementById('reason').required = true;
                  } else {
                      document.getElementById('reason').style.display = 'none';
                      document.getElementById('reason').required = false;
                  }
              })

              $('#document_document_type_id').change(function () {
                  var x = $(this).val();
                  console.log(x)
                  if (x == '7') {
                      document.getElementById('attach_video').style.display = 'inline';
                      $('#file_video').attr('disabled', false);
                      document.getElementById('file_video').required = true;

                      document.getElementById('attach_pdf').style.display = 'none';
                      $('#file_pdf').attr('disabled', true);
                      document.getElementById('file_pdf').required = false;
                  } else {
                      document.getElementById('attach_pdf').style.display = 'inline';
                      $('#file_pdf').attr('disabled', false);
                      document.getElementById('file_pdf').required = true;

                      document.getElementById('attach_video').style.display = 'none';
                      $('#file_video').attr('disabled', true);
                      document.getElementById('file_video').required = false;
                  }
              })
          })

          <% if params[:id].nil?%>
          $('#document_sub_document_type_id').empty()
          $('#document_document_classification_id').empty()
          $('#document_sub2_document_type_id').empty()
          <% end %>

          pageSetUp();
          var errorClass = 'invalid';
          var errorElement = 'em';
          var $reviewForm = $("#review-form").validate({
              errorClass: errorClass,
              errorElement: errorElement,
              highlight: function (element) {
                  $(element).parent().removeClass('state-success').addClass("state-error");
                  $(element).removeClass('valid');
              },
              unhighlight: function (element) {
                  $(element).parent().removeClass("state-error").addClass('state-success');
                  $(element).addClass('valid');
              },
              // Rules for form validation
              rules: {
                  'document[document_code]': {
                      required: true
                  },
                  'document[wr_doc_id]': {
                      required: true
                  },
                  'document[save_location]': {
                      required: true
                  },
                  'document[save_date]': {
                      required: true
                  },
                  'document[document_date]': {
                      required: false
                  },
                  'document[document_title]': {
                      required: true
                  },
                  <% if params[:id].nil? %>
                  'document[file_upload]': {
                      required: true
                  },
                  <% end %>
                  'document[document_type_id]': {
                      required: true
                  },
                  'document[sub_document_type_id]': {
                      required: true
                  },
                  'document[document_reference_id]': {
                      required: true
                  },
                  //         'document[keterangan]' : {
                  //   required : true
                  // },
                  'document[sifat]': {
                      required: true
                  },
                  'document[revision]': {
                      required: true
                  },
                  'document[penanggung_jawab]': {
                      required: true
                  },
              },

              // Messages for form validation
              messages: {
                  'document[document_code]': {
                      required: 'Please enter your textbox document_code '
                  },
                  'document[wr_doc_id]': {
                      required: 'Please enter your textbox wr_docs_id '
                  },
                  'document[save_location]': {
                      required: 'Please enter your textbox document_seq_no '
                  },
                  'document[save_date]': {
                      required: 'Please enter your textbox document_seq_no '
                  },
                  'document[document_date]': {
                      required: 'Please enter your textbox document_date '
                  },
                  'document[document_title]': {
                      required: 'Please enter your textbox document_title '
                  },
                  <% if params[:id].nil? %>
                  'document[file_upload]': {
                      required: 'Please enter your textbox file_upload '
                  },
                  <% end %>
                  'document[document_type_id]': {
                      required: 'Please enter your textbox file_upload '
                  },
                  'document[sub_document_type_id]': {
                      required: 'Please enter your textbox file_upload '
                  },
                  'document[document_reference_id]': {
                      required: 'Please enter your textbox file_upload '
                  },
                  //       'document[keterangan]' : {
                  // required : 'Please enter your textbox keterangan '
                  //     },
                  'document[sifat]': {
                      required: 'Please enter your selectbox character '
                  },
                  'document[revision]': {
                      required: 'Please enter your textbox revision '
                  },
                  'document[penanggung_jawab]': {
                      required: 'Please enter your textbox penanggung_jawab '
                  },
              },

              // Do not change code below
              errorPlacement: function (error, element) {
                  error.insertAfter(element.parent());
              }
          });
      });
  </script>
<% end %>
