<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><a href="<%= home_qms_documents_path%>" style="text-decoration: none;">QM System</a></li><li>Document Request</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
  <% end %>
<div class="page-header">
  <h1>Listing Documents Request</h1>
</div>

<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
  <!-- widget options:
  usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

  data-widget-colorbutton="false"
  data-widget-editbutton="false"
  data-widget-togglebutton="false"
  data-widget-deletebutton="false"
  data-widget-fullscreenbutton="false"
  data-widget-custombutton="false"
  data-widget-collapsed="true"
  data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
    <h2>documents </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">
      <div class="table-responsive">

      <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

            <thead>
          <!-- <tr>
            <th></th>
                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Judul Dokumen" />
            </th>

                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Nomor Dokumen" />
            </th>
            <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Revisi" />
            </th>
                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Tanggal Berlaku" />
            </th>
                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Lokasi Simpan" />
            </th>
                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Lama Simpan" />
            </th>
                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Penanggung Jawab" />
            </th>
                        <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Sifat" />
            </th>

          </tr> -->
          <tr>
                        <th>No</th>
                        <th data-class="expand">Judul Dokumen</th>

                        <th>Nomor Dokumen</th>
                        <th data-hide="phone">Revisi</th>
                        <th data-hide="phone">Tanggal Berlaku</th>
                        <th data-hide="phone,tablet">Lokasi Simpan</th>
                        <th data-hide="phone,tablet">Lama Simpan</th>
                        <th data-hide="phone,tablet">Penanggung Jawab</th>
                        <th data-hide="phone,tablet">Sifat</th>
                        <th data-hide="phone,tablet">Keterangan</th>
                        <th data-hide="phone,tablet">Requester</th>
                        <th data-hide="phone,tablet">Status Request</th>
                        <th data-hide="phone,tablet">Keterangan Request</th>
            <th data-hide="phone,tablet"></th>
            <th data-hide="phone,tablet"></th>
          </tr>
            </thead>

            <% if current_user.role_id == 10 %>
            <tbody>
              <%# <%= content_tag_for(:tr, @documents) do |document| %>
              <% @documents.each_with_index do |document, index| %>
              <tr>
                            <td><%= index+1 %></td>
                            <td><%= document.document_title %></td>
                            <td><%= document.document_code %></td>
                            <td><%= document.revision %></td>
                            <td><%= document.document_date.strftime('%d-%m-%Y') %></td>
                            <td><%= document.save_location %></td>
                            <td><%= document.long_save %></td>
                            <td><%= document.issued_by %></td>
                            <td><%= document.reference_name %></td>
                            <td><%= document.keterangan %></td>
                            <% @request = DocumentRequest.where('document_id = ? and requester = ?', document.document_id, current_user.nama).select('*')
                               @request.each do |f|
                               @requester = f.requester
                               @status_request = f.status_request
                               @reason_request = f.reason_request
                               end
                            if @request.present?
                            %>
                            <td><%= @requester %></td>
                            <td><%= @status_request %></td>
                            <td><%= @reason_request %></td>
                            <% else %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% end %>
                            <% if current_user.role_id == 10 and !@request.present? %>
                            <td><%= link_to 'Request', new_request_path(document) %></td>
                            <% else %>
                            <td></td>
                            <% end %>
                            <% if current_user.role_id != 10 and !@status_request.nil?%>
                              <td><%= link_to 'Approve', lembar_pengesahaan_path(document, {format: 'pdf'}), target: '_blank' %></td>
                            <% else %>
                              <td></td>
                            <% end %>
              </tr>
              <% end %>
            </tbody>

            <% else %>
            <tbody>
              <%# <%= content_tag_for(:tr, @documents) do |document| %>
              <% @documents.each_with_index do |document, index| %>
              <tr>
                            <td><%= index+1 %></td>
                            <td><%= document.document_title %></td>
                            <td><%= document.document_code %></td>
                            <td><%= document.revision %></td>
                            <td><%= document.document_date.strftime('%d-%m-%Y') %></td>
                            <td><%= document.save_location %></td>
                            <td><%= document.long_save %></td>
                            <td><%= document.issued_by %></td>
                            <% @reference_name = Document.joins(:document_reference).where(document_id: document.document_id).select('*')
                                @reference_name.each do |f|
                                  @type_doc = f.reference_name
                                end
                            %>
                            <td><%= @type_doc %></td>
                            <td><%= document.keterangan %></td>
                            <td><%= document.requester %></td>
                            <td><%= document.status_request %></td>
                            <td><%= document.reason_request %></td>
                            <% if current_user.role_id == 10 and document.status != "Approved"%>
                            <td><%= link_to 'Request', new_request_path(document) %></td>
                            <% else %>
                            <td></td>
                            <% end %>
                            <% if current_user.role_id != 10 and document.status_request != "Approved"%>
                              <td><%= link_to 'Approve', approval_request_path(document), data: { confirm: 'Are you sure?' } %></td>
                            <% else %>
                              <td></td>
                            <% end %>
              </tr>
              <% end %>
            </tbody>
            <% end %>

      </table>

      </div>
    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
<% content_for :scripts do%>

<script type="text/javascript">

  // DO NOT REMOVE : GLOBAL FUNCTIONS!

  $(document).ready(function() {

    pageSetUp();

    /* // DOM Position key index //

     l - Length changing (dropdown)
     f - Filtering input (search)
     t - The Table! (datatable)
     i - Information (records)
     p - Pagination (paging)
     r - pRocessing
     < and > - div elements
     <"#id" and > - div with an id
     <"class" and > - div with a class
     <"#id.class" and > - div with an id and class

     Also see: http://legacy.datatables.net/usage/features
     */

    /* BASIC ;*/
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;

    var breakpointDefinition = {
      tablet : 1024,
      phone : 480
    };

    $('#dt_basic').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "oLanguage": {
        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
      },
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_dt_basic) {
          responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_dt_basic.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_dt_basic.respond();
      }
    });

    /* END BASIC */

    /* COLUMN FILTER  */
    var otable = $('#datatable_fixed_column').DataTable({
      //"bFilter": false,
      //"bInfo": false,
      //"bLengthChange": false
      //"bAutoWidth": false,
      //"bPaginate": false,
      //"bStateSave": true // saves sort state using localStorage
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
      "autoWidth" : true,
      "oLanguage": {
        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
      },
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_datatable_fixed_column) {
          responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_datatable_fixed_column.respond();
      }

    });

    // Apply the filter
    $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {

      otable
        .column( $(this).parent().index()+':visible' )
        .search( this.value )
        .draw();

    } );
    /* END COLUMN FILTER */

    /* COLUMN SHOW - HIDE */
    $('#datatable_col_reorder').dataTable({
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "autoWidth" : true,
      "oLanguage": {
        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
      },
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_datatable_col_reorder) {
          responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_datatable_col_reorder.respond();
      }
    });

    /* END COLUMN SHOW - HIDE */

    /* TABLETOOLS */
    $('#datatable_tabletools').dataTable({

      // Tabletools options:
      //   https://datatables.net/extensions/tabletools/button_options
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
      "t"+
      "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "oLanguage": {
        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
      },
      "oTableTools": {
        "aButtons": [
          "copy",
          "csv",
          "xls",
          {
            "sExtends": "pdf",
            "sTitle": "SmartAdmin_PDF",
            "sPdfMessage": "SmartAdmin PDF Export",
            "sPdfSize": "letter"
          },
          {
            "sExtends": "print",
            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
          }
        ],
        "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
      },
      "autoWidth" : true,
      "preDrawCallback" : function() {
        // Initialize the responsive datatables helper once.
        if (!responsiveHelper_datatable_tabletools) {
          responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
        }
      },
      "rowCallback" : function(nRow) {
        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
      },
      "drawCallback" : function(oSettings) {
        responsiveHelper_datatable_tabletools.respond();
      }
    });

    /* END TABLETOOLS */

  })

</script>
<% end %>

</div>
