<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>" style="text-decoration:none;">HOME</a></li>
        <li><a href="<%= home_qms_documents_path %>" style="text-decoration:none;">QM System</a></li>
        <li>Request Document</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div class="page-header">
    <h1>Request Documents</h1>
    <%= render "layouts/logo_header" %>
  </div>


  <div class="page-header">
    <h4>Search by categories</h4>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
        <div>
          <div class="widget-body no-padding">
            <%= form_for(view_all_index_documents_path, method: :get, html: {id: "review-form", class: "smart-form", role: "form"}) do |f| %>
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="control-label">Tipe Pencarian</label>
                    <label class="input"> <i class="icon-append fa fa-tag"></i>
                      <label class="input">
                        <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                        <%= f.select :table_structures, ['Judul Dokumen', 'Nomor Dokumen', 'Tanggal Berlaku'], {prompt: "Select a search type"}, {:id => 'search_type', :class => 'select2'} %>
                        <i></i>
                      </label>
                  </section>
                  <section class="col col-6">
                    <label class="control-label">Pencarian</label>
                    <label class="input"> <i class="icon-append fa fa-tag"></i>
                      <input type="text" class="form-control" name="document_title" placeholder="Search Title" style="display: block" id="title">
                      <input type="text" class="form-control" name="document_code" placeholder="Search Code" style="display: none" id="code">
                      <input type="text" id="dateformat" name="document_date" placeholder="Search Date" class="datepicker" data-dateformat='yy-mm-dd' style="display: none">
                    </label>
                  </section>
                </div>
                <footer>
                  <%= f.submit 'Search', class: "btn btn-primary" %>
                </footer>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="col-md-6 col-xs-6">
      <!--            <a class="btn btn-primary" href="<%#= document_requests_url %>" title="Request Document"><span class='menu-item-parent'>Request Document</span></a>-->
      <a class="btn btn-primary" href="<%= document_requests_url %>" title="List Requests"><span class='menu-item-parent'>List Requests</span></a>
    </ul>
  </div>
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>documents </h2>

    </header>

    <!-- widget div-->
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body">
        <!--        <div class="widget-body no-padding">-->
        <div class="table-responsive">

          <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

            <thead>
            <!--
            <tr>
              <th></th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Document code" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Document name" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Document date" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Revision" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Type" />
              </th>
                          <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Sub Type" />
              </th>
                          <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="Document Type" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Issued by" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Checked by" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Approved by" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Status" />
              </th>-->
            <!-- <th class="hasinput" style="width:17%">
  <input type="text" class="form-control" placeholder="Year" />
</th> -->
            <!--
            <th class="hasinput" style="width:17%">
              <input type="text" class="form-control" placeholder="File" />
            </th>
          </tr>-->
            <tr>
              <th>No</th>
              <th data-class="expand">Judul Dokumen</th>
              <th>Nomor Dokumen</th>
              <th>Revision</th>
              <th data-hide="phone,tablet">Sifat</th>
              <th data-hide="phone,tablet">Tanggal Berlaku</th>
              <th data-hide="phone">Lama Simpan</th>
              <th data-hide="phone,tablet">Keterangan</th>
              <% if current_user.role_id == 10 %>
                <th data-hide="phone,tablet"></th>
              <% end %>
              <th data-hide="phone,tablet"></th>
            </tr>
            </thead>

            <tbody>
            <%# <%= content_tag_for(:tr, @documents) do |document| %>
            <% @documents.each_with_index do |document, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= document.document_title %></td>
                <td><%= document.document_code %></td>
                <td><%= document.revision %></td>
                <td><%= document.sifat %></td>
                <% if document.document_date.present? %>
                  <td><%= document.document_date.strftime('%d %b %Y') %></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if document.save_date.present? %>
                  <td><%= distance_of_time_in_words(Time.now, document.save_date, true, :only => [:years, :months, :weeks, :days]) %></td>
                <% else %>
                  <td></td>
                <% end %>
                <td><%= document.keterangan %></td>
                <% if document.sifat == 'Rahasia' and current_user.role_id == 10 %>
                  <td><%= link_to 'Request', new_request_path(document.document_id) %></td>
                  <td></td>
                <% else %>
                  <td><%= link_to 'Request', new_request_path(document.document_id) %></td>
                  <td><%= link_to 'View', view_document_path(document.document_id) %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>

          </table>

        </div>
      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>
  <% content_for :scripts do %>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            $('#search_type').change(function () {
                var x = $(this).val();
                console.log(x)
                if (x == 'Tanggal Berlaku') {
                    document.getElementById('dateformat').style.display = 'block';
                    // document.getElementById('dateformat').required = true;
                    document.getElementById('title').style.display = 'none';
                    // document.getElementById('title').required = false;
                    document.getElementById('code').style.display = 'none';
                    // document.getElementById('code').required = false;
                } else if (x == 'Nomor Dokumen') {
                    document.getElementById('dateformat').style.display = 'none';
                    // document.getElementById('dateformat').required = false;
                    document.getElementById('title').style.display = 'none';
                    // document.getElementById('title').required = false;
                    document.getElementById('code').style.display = 'block';
                    // document.getElementById('code').required = true;
                } else {
                    document.getElementById('dateformat').style.display = 'none';
                    // document.getElementById('dateformat').required = false;
                    document.getElementById('title').style.display = 'block';
                    // document.getElementById('title').required = true;
                    document.getElementById('code').style.display = 'none';
                    // document.getElementById('code').required = false;
                }

            })
        })

        $(document).ready(function () {
            $("#dateformat").datepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: "0d",
                changeMonth: true,
                changeYear: true,
                prevText: "",
                nextText: "",
            });

            pageSetUp();

            /* // DOM Position key index //

             l - Length changing (dropdown)
             f - Filtering input (search)
             t - The Table! (datatable)
             i - Information (records)
             p - Pagination (paging)
             r - pRocessing
             < and > - div elements
             <"#id" and > - div with an id
             <"class" and > - div with a class
             <"#id.class" and > - div with an id and class

             Also see: http://legacy.datatables.net/usage/features
             */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
  <% end %>

</div>
