<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <% @sub4field = Sub4Field.left_outer_joins(:sub3_field).where(sub4_field_id: params[:sub4_field_id]).select('*') %>
        <% @sub3field = Sub3Field.left_outer_joins(:sub2_field).where(sub3_field_id: @sub4field.first.sub3_field_id.to_s).select('*') %>
        <% @sub2field = Sub2Field.left_outer_joins(:sub_field).where(sub2_field_id: @sub3field.first.sub2_field_id.to_s).select('*') %>
        <% @subfield = SubField.left_outer_joins(:field).where(sub_field_id: @sub2field.first.sub_field_id.to_s).select('*') %>
        <span class="project-selector dropdown-toggle" data-toggle="dropdown" style="color: #bababa;"><%= _('...') %>
          <i class="fa fa-angle-down"></i></span>
        <ul class="dropdown-menu">
          <li><a href="<%= root_path %>">HOME</a></li>
          <li><a href="<%= home_document_wr_docs_path %>">Reference Documents</a></li>
          <li>
            <a href="<%= sub_wr_doc_path(@subfield.first.field_id.to_s) %>" title="<%= "#{@subfield.first.description_field.to_s}" %>"><%= @subfield.first.description_field.to_s.slice(0, 30) + "..." %></a>
          </li>
          <li>
            <a href="<%= sub2_home_document_wr_docs_path(@sub2field.first.sub_field_id.to_s) %>" title="<%= "#{@sub2field.first.description_sub_field.to_s}" %>"><%= @sub2field.first.description_sub_field.to_s.slice(0, 30) + "..." %></a>
          </li>
          <li>
            <a href="<%= sub3_home_document_wr_docs_path(@sub3field.first.sub2_field_id.to_s) %>" title="<%= "#{@sub3field.first.sub2_name.to_s}" %>"><%= @sub3field.first.sub2_name.to_s.slice(0, 30) + "..." %></a>
          </li>
          <li>
            <a href="<%= sub4_home_document_wr_docs_path(@sub4field.first.sub3_field_id.to_s) %>" title="<%= "#{@sub4field.first.sub3_name_field.to_s}" %>"><%= @sub4field.first.sub3_name_field.to_s.slice(0, 30) + "..." %></a>
          </li>
        </ul>
        <li><%= "#{@sub4field.first.sub4_name_field.truncate(35, sparator:"...").to_s}" %></li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div class="page-header">
    <h1>Listing Documents <%= @sub2field.first.sub2_name.to_s %></h1>
    <%= render "layouts/logo_header" %>
  </div>

  <div class="page-header">
    <h4>Search by categories</h4>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
        <div>
          <div class="widget-body no-padding animated fadeInDown" style="box-shadow: -1rem 0 3rem #000;">
            <%= form_for(view4_index_wr_docs_path, method: :get, html: {id: "review-form", class: "smart-form", role: "form"}) do |f| %>
              <input type="hidden" name="sub_field" value="<%= params[:sub_field_id] %>">
              <fieldset>
                <div class="row">
                  <section class="col col-6">
                    <label class="control-label">Tipe Pencarian</label>
                    <label class="input"> <i class="icon-append fa fa-tag"></i>
                      <label class="input">
                        <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                        <%= f.select :table_structures, ['Judul Dokumen', 'Nomor Dokumen', 'Tanggal Berlaku'], {prompt: "Select a search type"}, {:id => 'search_type', :class => 'select2'} %>
                        <i></i>
                      </label>
                  </section>
                  <section class="col col-6">
                    <label class="control-label">Pencarian</label>
                    <label class="input"> <i class="icon-append fa fa-tag"></i>
                      <input type="text" class="form-control" name="document_title" placeholder="Search Title" style="display: block" id="title">
                      <input type="text" class="form-control" name="document_code" placeholder="Search Code" style="display: none" id="code">
                      <input type="text" id="dateformat" name="document_date" placeholder="Search Date" class="datepicker" data-dateformat='yy-mm-dd' style="display: none">
                    </label>
                  </section>
                </div>
                <footer>
                  <%= f.submit 'Search', class: "btn btn-primary" %>
                </footer>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>Work Reference Document </h2>

    </header>

    <!-- widget div-->
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body">
        <!--        <div class="widget-body no-padding">-->
        <div class="table-responsive">

          <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

            <thead>
            <!--
        <tr>
          <th></th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Document code" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Document Date" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Sub Field" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Revision" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Issued by" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Checked by" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Approved by" />
          </th>
                      <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="Status" />
          </th>
          <th class="hasinput" style="width:17%">
            <input type="text" class="form-control" placeholder="File" />
          </th>
        </tr>-->
            <tr>
              <th>No</th>
              <th data-class="expand">Judul Dokumen</th>
              <th>Nomor Dokumen</th>
              <th data-hide="phone">Revisi</th>
              <th data-hide="phone">Sifat</th>
              <th data-hide="phone">Tanggal Berlaku</th>
              <th data-hide="phone">Lama Simpan</th>
              <th data-hide="phone,tablet">Keterangan</th>
              <th data-hide="phone,tablet"></th>
              <th data-hide="phone,tablet"></th>
              <% if current_user.role_id == 10 %>
                <th data-hide="phone,tablet"></th>
              <% end %>
              <% if current_user.role_id == 7 or current_user.role_id == 2 %>
                <th data-hide="phone,tablet"></th>
                <th data-hide="phone,tablet"></th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <%# <%= content_tag_for(:tr, @documents) do |document| %>
            <% @documents.each_with_index do |document, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= document.document_title %></td>
                <td><%= document.document_code %></td>
                <td><%= document.revision %></td>
                <td><%= document.sifat %></td>
                <% if document.date.present? %>
                  <td><%= document.date.strftime('%d %b %Y') %></td>
                <% else
                     concat "<td></td>".html_safe
                   end
                %>
                <% if document.save_date.present? %>
                  <td><%= distance_of_time_in_words(Time.now, document.save_date, true, :only => [:years, :months, :weeks, :days]) %></td>
                <% else
                     concat "<td></td>".html_safe
                   end
                %>
                <td><%= document.keterangan %></td>
                <td><%= link_to 'Detail', view_show_wr_docs_path(document.wr_doc_id), data: {remote: true} %></td>
                <%# if document.sifat == "Rahasia" and current_user.role_id == 10 or document.sifat == 'Tidak Rahasia' and current_user.role_id == 10 %>
                <!--                  <td></td>-->
                <%# else %>
                <td><%= link_to 'View', wr_view_document_path(document.wr_doc_id), remote: true %></td>
                <%# end %>
                <% if current_user.role_id == 10 %>
                  <% if document.description_field == "REFERENSI PGN" %>
                    <td style="color: rgb(94, 96, 94, 0.8)">Referensi PGN</td>
                  <% else %>
                    <td><%= link_to 'Request', new_wr_request_path(document.wr_doc_id) %></td>
                  <% end %>
                <% end %>
                <% if current_user.role_id == 7 or current_user.role_id == 2 or current_user.role_id == 19 %>
                  <td><%= link_to 'Edit', edit_wr_doc_path(document) %></td>
                  <!--                  <td><%#= link_to 'Delete', document, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
                  <td><%= link_to 'Delete', soft_delete_wr_docs_path(document), data: {confirm: 'Are you sure?'} %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= render "layouts/modal_document_view" %>
        </div>
      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>
  <% content_for :scripts do %>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            $("#dateformat").datepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: "0d",
                changeMonth: true,
                changeYear: true,
                prevText: "",
                nextText: "",
            });

            $(document).ready(function () {
                $('#search_type').change(function () {
                    var x = $(this).val();
                    console.log(x)
                    if (x == 'Tanggal Berlaku') {
                        document.getElementById('dateformat').style.display = 'block';
                        // document.getElementById('dateformat').required = true;
                        document.getElementById('title').style.display = 'none';
                        // document.getElementById('title').required = false;
                        document.getElementById('code').style.display = 'none';
                        // document.getElementById('code').required = false;
                    } else if (x == 'Nomor Dokumen') {
                        document.getElementById('dateformat').style.display = 'none';
                        // document.getElementById('dateformat').required = false;
                        document.getElementById('title').style.display = 'none';
                        // document.getElementById('title').required = false;
                        document.getElementById('code').style.display = 'block';
                        // document.getElementById('code').required = true;
                    } else {
                        document.getElementById('dateformat').style.display = 'none';
                        // document.getElementById('dateformat').required = false;
                        document.getElementById('title').style.display = 'block';
                        // document.getElementById('title').required = true;
                        document.getElementById('code').style.display = 'none';
                        // document.getElementById('code').required = false;
                    }
                })
            })

            pageSetUp();

            /* // DOM Position key index //

             l - Length changing (dropdown)
             f - Filtering input (search)
             t - The Table! (datatable)
             i - Information (records)
             p - Pagination (paging)
             r - pRocessing
             < and > - div elements
             <"#id" and > - div with an id
             <"class" and > - div with a class
             <"#id.class" and > - div with an id and class

             Also see: http://legacy.datatables.net/usage/features
             */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                "searching": false,
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
  <% end %>

</div>
