<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>" style="text-decoration: none;">HOME</a></li>
        <li><a href="<%= home_qms_documents_path %>" style="text-decoration: none;">Quality Documents</a></li>
        <li>Document Request</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div class="page-header">
    <%# if current_user.role_id == 10 %>
    <%#= link_to new_request_document_requests_path, class: 'btn btn-primary' do %>
    <!--        <span class="glyphicon glyphicon-plus"></span>-->
    <!--        New Document request-->
    <%# end end %>
    <h1>List Quality Requests</h1>
    <%= render "layouts/logo_header" %>
  </div>

  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
    </header>

    <!-- widget div-->
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body">
        <!--        <div class="widget-body no-padding">-->
        <div class="table-responsive">
          <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

            <thead>
            <!-- <tr>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Document" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Internal audit" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Receiver" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Status" />
              </th>
                          <th class="hasinput" style="width:17%">
                <input type="text" class="form-control" placeholder="Reason request" />
              </th>

            </tr> -->
            <tr>
              <th>No</th>
              <th data-class="expand">Judul Dokumen</th>
              <th>Nomor Dokumen</th>
              <th data-hide="phone">Revisi</th>
              <th data-hide="phone">Tanggal Berlaku</th>
              <% if current_user.role_id != 10 %>
                <th data-hide="phone,tablet">Requester</th>
                <th data-hide="phone,tablet">Position</th>
                <th data-hide="phone,tablet">Divisi</th>
              <% end %>
              <th data-hide="phone,tablet">Tanggal Request</th>
              <th data-hide="phone,tablet">Keterangan Request</th>
              <th data-hide="phone,tablet">Status Request</th>
              <th data-hide="phone,tablet">Reject Reason (If any)</th>
              <th data-hide="phone,tablet">Periode Download</th>
              <% if current_user.role_id != 10 and current_user.role_id != 7 %>
                <th data-hide="phone,tablet">Start Download</th>
                <th data-hide="phone,tablet">End Download</th>
              <% end %>
              <% if current_user.role_id == 10 %>
                <th data-hide="phone,tablet"></th>
              <% elsif current_user.role_id == 2 or current_user.role_id == 6 %>
                <th data-hide="phone,tablet"></th>
                <th data-hide="phone,tablet"></th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <% @document_requests.each_with_index do |document_request, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= document_request.document_title %></td>
                <td><%= document_request.document_code %></td>
                <td><%= document_request.revision %></td>
                <td><%= document_request.document_date ? document_request.document_date.strftime('%d %b %Y') : ""%></td>
                <% if current_user.role_id != 10 %>
                  <td><%= document_request.requester %></td>
                  <td><%= document_request.position %></td>
                  <td><%= document_request.division %></td>
                <% end %>
                <td><%= document_request.request_date.strftime('%d %b %Y') %></td>
                <td><%= document_request.reason_request %></td>
                <% if document_request.status_request == "Pending Request" %>
                  <td style="color: black; background-color: yellow;"><%= document_request.status_request %></td>
                <% elsif document_request.status_request == "Approve1" %>
                  <td style="color: white; background-color: #00a300;"><%= document_request.status_request %></td>
                <% elsif document_request.status_request == "Approved" %>
                  <td style="color: white; background-color: #00a300;"><%= document_request.status_request %></td>
                <% elsif document_request.status_request == "Rejected" %>
                  <td style="color: white; background-color: #8F2129;"><%= document_request.status_request %></td>
                <% end %>
                <td><%= document_request.reject_reason %></td>
                <% if document_request.file_copy.present? or document_request.approve_date.present?
                     @doc_request = DocumentRequest.where('id = ? and approve_date <= ?', document_request.id, Date.current - 3.day).select('*').order('document_requests.id DESC')
                     if @doc_request.present?
                       file = @doc_request.first.file_copy.to_s
                       folder_path = File.join('file', 'DMS', 'Quality_Management', 'File_Copy')
                       file_path = File.join('public', folder_path, file)
                       File.delete(file_path) if File.exist?(file_path) %>
                    <td style="color: rgb(94, 96, 94, 0.8)">Download is Expired</td>
                  <% else %>
                    <% @count = "#{document_request.approve_date - (Date.current - 3.day)}".gsub("/1", "") %>
                    <% if document_request.approve_date.present? %>
                      <% if @count == 1.to_s or @count == 2.to_s or @count == 3.to_s %>
                        <td><%= "#{document_request.approve_date - (Date.current - 3.day)}".gsub("/1", "") + " Hari" %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                <% elsif document_request.status_request == "Rejected" %>
                  <td><label for="" style="color: rgb(94, 96, 94, 0.8)">Download is Rejected</label></td>
                <% else %>
                  <td><label for="" style="color: rgb(94, 96, 94, 0.8)">Download is Pending</label></td>
                <% end %>
                <% if current_user.role_id == 10 %>
                  <%
                    @document_request = DocumentRequest.where('requester = ? and id = ? and approve_date >= ?', current_user.nama, document_request.id, Date.current - 3.day).select('*').order('document_requests.id DESC')
                    @request = DocumentRequest.where('requester = ? and id = ?', current_user.nama, document_request.id).select('*').order('document_requests.id DESC')
                    if @request.first.status_request.to_s == "Pending Request"
                  %>
                    <td><label for="" style="color: rgb(94, 96, 94, 0.8)">Pending Approval</label></td>
                  <% elsif @request.first.status_request.to_s == "Rejected" %>
                    <td><label for="" style="color: rgb(94, 96, 94, 0.8)">Rejected</label></td>
                  <% else %>
                    <% if @document_request.present? %>
                      <td><%= link_to 'Download', download_file_path(document_request.id) %></td>
                    <% else %>
                      <td><label for="" style="color: rgb(94, 96, 94, 0.8)">Expired</label></td>
                    <% end %>
                  <% end %>
                <% elsif current_user.role_id == 2 or current_user.role_id == 6 %>
                  <% @doc_request = DocumentRequest.find_by(id: document_request.id)
                     if @doc_request.approve_date.present?
                  %>
                    <td><%= document_request.approve_date.strftime('%d %b %Y') %></td>
                    <td><%= document_request.end_date.strftime('%d %b %Y') %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                  <% if document_request.status_request == "Rejected" or document_request.status_request == "Approved" %>
                    <%# <%= link_to 'Approve', lembar_pengesahaan_path(document_request, {format: 'pdf'}), target: '_blank' %>
                    <td></td>
                    <td></td>
                  <% elsif current_user.role_id == 2 and document_request.status_request == "Approve1" %>
                    <td></td>
                    <td></td>
                  <% else %>
                    <!--                    <td><%#= link_to 'Approve', wr_approval_request_path(document_request), data: {confirm: 'Are you sure to approve?'} %></td>-->
                    <% if current_user.role_id == 2 %>
                      <td><%= link_to 'Approve 1', do_approve_by_superadmin_document_requests_path(document_request), data: {confirm: 'Are you sure to approve?'} %></td>
                      <!--                    <td><%#= link_to 'Reject', reject_request_path(document_request), data: {confirm: 'Are you sure to reject?'} %></td>-->
                      <td><%= link_to 'Reject', edit_reject_document_requests_path(document_request), remote: true %></td>
                    <% elsif current_user.role_id == 6 %>
                      <td><%= link_to 'Approve 2', edit_approve_document_requests_path(document_request), remote: true %></td>
                      <td></td>
                    <% end %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
            </tbody>

          </table>
          <%= render 'layouts/modal' %>
        </div>
      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>

  <% content_for :scripts do %>


    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            pageSetUp();

            /* // DOM Position key index //

             l - Length changing (dropdown)
             f - Filtering input (search)
             t - The Table! (datatable)
             i - Information (records)
             p - Pagination (paging)
             r - pRocessing
             < and > - div elements
             <"#id" and > - div with an id
             <"class" and > - div with a class
             <"#id.class" and > - div with an id and class

             Also see: http://legacy.datatables.net/usage/features
             */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })

    </script>
    </div>
  <% end %>
