<div class="jarviswidget animated fadeInRight" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Field </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

      <%= form_for(@field, html: {id: "review-form", class: "smart-form", role: "form"}) do |f| %>
        <% if @field.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@field.errors.count, "error") %> prohibited this member from being saved:</h4>

            <ul>
              <% @field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <header>
          Field
        </header>

        <fieldset>
          <section>
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <%# @field = Field.find(params[:id]) %>
              <%# if @field.present? %>
<!--                <input type="text" placeholder="Nama Field" value="<%#= @field.description_field %>" name="member[description_field]" id="description_field" class="form-control">-->
              <%# else %>
<!--                <input type="text" placeholder="Nama Field" name="member[description_field]" id="description_field" class="form-control">-->
              <%# end %>
              <%= f.text_field :description_field, class: "form-control", id: "description_field", placeholder: "Field Name" %>
            </label>
            <br>
            <% if current_user.role_id == 19 %>
              <%= f.text_field :akses, value: current_user.username, class: "form-control", readonly: true %>
            <% else %>
              <label class="input"> <i class="icon-append fa fa-settings"></i>
                <%# <%= f.collection_select :akses, Member.where(status: "Active").select('*'), :username, :username, {prompt: "Select a member"}, {:class => 'select2'} %>
                <select class="form-control select2" data-min-options="2" name="field[akses][]" multiple data-live-search="true">
                  <% unless @field.new_record? %>
                    <% @user = Field.find(params[:id]) %>
                    <% if @user.akses.present? %>
                      <%
                        @user = Field.find(params[:id])
                        @user = @user.akses.gsub("'\'", "")
                        @user = @user.gsub('"',"")
                        @user = @user.gsub("[","")
                        @user = @user.gsub("]","")
                        @user = @user.split(",")
                        @user.map do |user|
                        @getUser = Member.find(user)
                        @selected = "selected=selected"
                      %>
                          <option value="<%= @getUser.id %>" <%= @selected %>><%= @getUser.username %></option>
                      <% end %>
                    <% end %>

                    <% @getVendor = Member.where.not('member_id IN (?)', @user).select('DISTINCT ON (nama)*') %>
                    <% @getVendor.each do |f| %>
                      <option value="<%= f.id %>"><%= f.nama %></option>
                    <% end %>

                  <% else %>
                    <% @user = Member.order(:username) %>
                    <% @user.each do |user| %>
                      <option value="<%= user.member_id %>" <%= @selected %>><%= user.username %></option>
                    <% end %>
                  <% end %>
                </select>
              </label>
            <% end %>
          </section>
        </fieldset>
        <footer>
          <%= f.submit class: "btn btn-primary" %>
        </footer>
      <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>

<script type="text/javascript">
    $(document).ready(function () {

        pageSetUp();
        var errorClass = 'invalid';
        var errorElement = 'em';
        var $reviewForm = $("#review-form").validate({
            errorClass: errorClass,
            errorElement: errorElement,
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            // Rules for form validation
            rules: {
                'field[description_field]': {
                    required: true
                },
            },

            // Messages for form validation
            messages: {
                'field[description_field]': {
                    required: 'Please enter your textbox description_field '
                },
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>
