<%= render "layouts/css_footer" %>
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>DM<span>S</span>&trade;</h3>
    <% if Time.current.year >= 2020
         date = "2019 - " + "#{Time.now.year}"
       else
         date = Time.current.year
       end
    %>
    <p class="footer-company-name">documentmanagementsystem &copy; <%= date %></p>

  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:manajemenmutu@pgn-solution.co.id">manajemenmutu@pgn-solution.co.id</a></p>
    </div>
  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Subsidiary of</span>
      <%= image_tag 'pertamina-gas-negara-transparan.png', style: 'width:120px;' %>
    </p>

  </div>

</footer>